.section.about {
  padding: 0 0.8rem;

  .container-inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 64rem;

    h2 {
      @include font-weight(black);
    }
  }

  img {
    display: flex;
    justify-content: center;
    z-index: -1;
    overflow: hidden;
  }
}

@include media('>medium') {
  .section.about {
    padding: 0 1.5rem;

    .container-inner {
      flex-direction: row;
      text-align: left;
    }

    .text {
      max-width: 25rem;
    }

    img {
      order: -1;
      align-self: flex-end;
      margin-top: 2rem;
      width: 50%;
    }
  }
}
