.form-wrapper {
  margin-bottom: 4rem;
  padding: 0 0.7rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h5 {
    @include font-weight(bold);
    @include font-size(5, mobile, true, true, true);
    font-size: 16px;
  }
}

.newsletter {
  width: 100%;
  padding: 0 0.125rem;
}

.newsletter-fields {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.newsletter-fields .email {
  font-size: 0.8rem;
  line-height: normal;
  padding: 0.6rem 1rem;
  border: none;
  border: 1px solid #dddfe5;
  border-radius: 0.2rem;
  margin-right: 0.5rem;
  transition: all 0.1s ease-in-out;
  -webkit-appearance: none;
  margin-right: 0;
  margin-bottom: 0.5rem;
  color: color(typography, 1);

  &:focus {
    border-color: color(primary, 3);
    outline: 0;
  }

  &::placeholder {
    color: color(typography, 1);
  }
}

.signup-button {
  line-height: 1;
  font-size: 0.8em;
  color: color(typography, 1);
  padding: 0.75rem 2rem 0.7rem;
  background-color: color(primary, 3);
  border: none;
  border-radius: 0.2rem;
  font-weight: bolder;
  cursor: pointer;
  transition: box-shadow 120ms, background-color 120ms;
  box-shadow: 0 0.1rem 0.1rem transparent;
  text-align: center;

  &:active {
    text-decoration: underline;
  }
}

.message {
  margin-top: 0.5em;
  font-size: 0.8em;

  &.error-message {
    color: #f71414;
  }
}

@include media('>medium') {
  .form-section {
    padding: 0 1.5rem;
  }

  .form-wrapper {
    background-color: color(primary, 3);
    margin: 0 auto 4rem;
    padding: 4rem 0;
    max-width: 60rem;
    border-radius: 1rem;

    h5 {
      @include font-size(4, desktop, true, true, true);
      margin-bottom: 2rem;
    }
  }

  .newsletter {
    width: auto;
  }

  .newsletter-fields {
    flex-direction: row;
  }

  .newsletter.connected .email {
    background: transparent;
    border-radius: 6px 0 0 6px;
    border-color: color(typography, 1);
    margin-bottom: 0;
  }

  .newsletter.connected .signup-button {
    background-color: color(typography, 1);
    color: color(primary, 3);
    margin-left: -1px;
    border-radius: 0 6px 6px 0;
  }
}

@include media('>large') {
  .newsletter {
    margin-top: 0.5rem;
  }

  .newsletter-fields {
    justify-content: flex-start;
  }
}
