header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 10;
  padding: 1rem 1.5rem;
  box-shadow: 0 0 1.8rem transparent;
  transition: box-shadow 0.3s, color 0.5s, background-color 0.5s;
}

header.scrolled {
  box-shadow: 0 0 1.8rem rgba(0, 0, 0, 0.15);
}

nav {
  max-width: 60rem;
  height: 100%;
  margin: 0 auto;
  font-size: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav a {
  font-family: 'Montserrat';
  color: color(typography, 1);
  text-decoration: none;
}

nav > a {
  text-decoration: none;
  font-weight: 800;
  letter-spacing: 0.8px;
}

nav .logo {
  // font-size: 0.75rem;
  font-weight: 600;
  margin-right: auto;
}

nav .signup-button {
  font-size: 0.75rem;
  margin: -0.7ch 0 -0.7ch auto;
  padding: 0.7rem 1.2rem 0.7rem;
  border-radius: 0.2rem;
  box-shadow: 0 0.1rem 0.25rem rgba(103, 110, 144, 0.2),
    0 0 0 0.05rem rgba(103, 110, 144, 0.05);
}

@include media('>medium') {
  nav .signup-button,
  nav .logo {
    font-size: 0.75rem;
  }
}
