.container {
  padding: 0 1.5rem;
}

.section {
  position: relative;
}

.container-hero {
  background: #fff;
  height: calc(100vh + 40rem + 5vw);
  margin-bottom: calc(12vw - 40vh);
  padding: 0;
  text-align: center;
  z-index: 1;
}

.container-inner {
  margin: 0 auto;
  height: 100%;
  max-width: none;
}

.hero-scroll-container {
  height: calc(100vh + 5vw);
  margin-top: -7rem;
  margin-bottom: 0;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  transform: translateZ(0);
}

.hero-transform-target {
  height: 100%;
  transform-origin: 50% 40%;
  will-change: transform;
  font-size: 10.5vw;
  transform: scale(1) translate(0%, 0px);
}

.hero-intro {
  font: inherit;
  color: #545465;
  font-size: calc(0.1em + 0.5rem);
  line-height: 1.85;
  left: 50%;
  margin: 0 0 1rem;
  margin-top: 12vw;
  max-width: 42ch;
  padding: 1rem;
  position: absolute;
  top: 32vh;
  transform: translate(-50%, 0);
  width: 100vw;
  z-index: 1;
}

.hero-headline {
  font-family: 'Montserrat';
  font-size: inherit;
  color: color(primary, 3);
  font-size: inherit;
  left: 0;
  line-height: 0.95;
  margin: 0 auto;
  max-width: 8ch;
  position: absolute;
  right: 0;
  top: 26vh;
}

.hero-headline span {
  font-weight: 800;
  font-size: 7.5vw;
}

img {
  height: auto;
  vertical-align: middle;
}

.hero-hand {
  top: -1.05em;
  left: 50%;
  max-width: none;
  pointer-events: none;
  position: absolute;
  margin-left: -5em;
  width: 10em;
}

.hero-ui {
  display: block;
  left: 50%;
  margin-left: -8.75em;
  margin-top: -3.75em;
  max-width: none;
  opacity: 0;
  position: absolute;
  top: 0.6em;
  width: 16.25em;
  will-change: opacity;
  z-index: -1;
}

@include media('>medium') {
  .hero-intro {
    margin-top: 18vw;
  }
}

@include media('>large') {
  .hero-intro {
    margin-top: 22vw;
    font-size: calc(0.08em + 1rem);
  }
}
