//Main screen buttons
.bttn{
  transition: all 0.2s;

  bottom: 2.5rem;
  right: 2.5rem;
}

.beer-bttn{
  width: 50px;
  height: 50px;

  background-color: $primary-green;

  border-radius: 50%;

  position: fixed;

  .fa-beer{
    width: 20px;
    height: 20px;

    margin: 15px 16px;

    color: white;
  }
  &.toggled{
    display: none;
  }
}

.cross-bttn{
  width: 50px;
  height: 50px;

  background-color: rgb(208, 208, 208);

  border-radius: 50%;

  position: fixed;

  .fa-times{
    width: 20px;
    height: 20px;

    margin: 15px;

    color: rgba(0, 0, 0, 0.5);
  }
}

.add-bttn{
  width: 50px;
  height: 50px;

  background-color: $primary-green;

  border-radius: 50%;

  position: fixed;

  .fa-plus{
    width: 20px;
    height: 20px;

    margin: 15px 15px;

    color: white;
  }
  &.toggled{
    transform: translate(-30px, -60px);
  }
}

.drink-bttn{
  width: 50px;
  height: 50px;

  background-color: $primary-green;

  border-radius: 50%;

  position: fixed;

  .fa-beer{
    width: 20px;
    height: 20px;

    margin: 15px 16px;

    color: white;
  }
  &.toggled{
    transform: translate(-65px, -10px);
    background-color: rgb(252, 85, 85);
  }
}
