footer {
  @include font-size(8, mobile, true, true);
  padding: 1rem 1.5rem;

  section {
    position: relative;
    display: flex;
    flex-direction: column;

    ul {
      list-style: none;
      padding: 0;
      max-width: 60rem;

      li {
        line-height: 1.5rem;

        span {
          display: block;
          color: color(typography, 1);
        }
      }
    }

    .footer-social-wrapper {
      display: flex;
      justify-content: space-evenly;

      a {
        color: color(typography, 2);
        text-decoration: none;
        transition: 0.1s color ease-in-out;

        &:hover {
          color: color(typography, 1);
        }
      }
    }

    .footer-copyright-wrapper {
      text-align: center;

      li {
        &:first-child {
          @include font-weight(black);
          color: color(typography, 1);
          font-size: 1rem;
        }
      }
    }
  }
}

@include media('>medium') {
  footer {
    @include font-size(7, desktop, true, true);
    padding: 0 1.5rem;

    section {
      max-width: 60rem;
      margin: 0 auto;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;

      ul {
        margin-bottom: 0;
      }

      .footer-copyright-wrapper {
        text-align: right;
      }

      .footer-social-wrapper {
        li:not(:first-child) {
          margin-left: 1rem;
        }
      }
    }
  }
}
