footer {
  @include font-size(8, mobile, true, true);
  padding: 1rem 1.5rem;

  section {
    position: relative;
    display: flex;
    flex-direction: column;

    ul {
      list-style: none;
      padding: 0;
      max-width: 60rem;

      li {
        line-height: 1.5rem;
      }
    }

    .footer-social-wrapper {
      display: flex;
      justify-content: space-evenly;

      p {
        margin: 0;
      }

      a {
        position: relative;
        color: color(typography, 1);
        text-decoration: none;

        &::after {
          left: 0;
          right: 0;
          height: 0;
          content: '';
          display: block;
          position: absolute;
          background: color(primary, 3);
          transition: height 0.1s ease-in-out;
        }

        &:hover::after {
          height: 0.125rem;
        }
      }
    }

    .footer-copyright-wrapper {
      text-align: center;

      li {
        &:first-child {
          @include font-weight(black);
          color: color(typography, 1);
          font-size: 1rem;
        }
      }
    }
  }
}

@include media('>medium') {
  footer {
    @include font-size(7, desktop, true, true);
    padding: 0 1.5rem 1.5rem;

    section {
      max-width: 60rem;
      margin: 0 auto;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;

      ul {
        margin-bottom: 0;
      }

      .footer-copyright-wrapper {
        text-align: right;
      }

      .footer-social-wrapper {
        li:not(:first-child) {
          margin-left: 1rem;
        }
      }
    }
  }
}
