form {
  width: 100%;
  &::-webkit-scrollbar {
    display: none;
  }

  .input-type {
    margin-bottom: 32px;
    display: inline-block;
    width: 100%;

    label {
      font-size: $medium-text;
    }

    input {
      width: 100%;
      font-size: $medium-text;
      outline: 0;
      padding: 12px 0 4px 0;
      background-color: transparent;
      transition: 0.3s ease border-color;

      border: 1px solid transparent;
      border-bottom-color: #eceeef;
      border-left-width: 0;
      border-right-width: 0;
      border-top-width: 0;
      &::-webkit-input-placeholder {
        color: $light-grey;
      }
      &:focus {
        border-bottom-color: $light-grey;
      }
    }
  }
  .error-message {
    margin-top: 1rem;
    color: $red;
    font-size: $small-text;
  }
  .succes-message {
    margin-top: 1rem;
    color: $primary-green;
    font-size: $small-text;
  }
}
