.header{
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  .header-title{
    h1{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .header-profile{
    position: relative;
    .header-profile-circle{
      width: 32px;
      height: 32px;
      background: $primary-green;
      border-radius: 50%;

    }
  }
}
