.header{
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  .header-title{
    h1{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .header-profile{
    position: relative;
    .header-profile-circle{
      width: 32px;
      height: 32px;
      background-color: $light-grey;
      border-radius: 50%;

    }
  }
  // Overlay inside header has z-index: 1, so it covers the drink buttons
  .overlay{
    z-index: 1;
  }
}
