.section {
  position: relative;

  &.hero {
    height: 100vh;
    height: calc(100vh - 72px);
    margin-bottom: 0;

    .container-inner {
      justify-content: center;
    }

    article {
      margin-top: -4rem;
      text-align: center;
    }
  }
}

.hero-headline {
  color: color(primary, 3);
  left: 0;
  line-height: 1.13;
  margin-top: 0;

  .hero-headline-text {
    font-weight: 800;
    font-size: 14vw;
  }

  .word-container {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }
}

.hero-intro {
  color: color(typography, 2);
  font-size: 0.8rem;
}

@include media('>medium') {
  .section.hero {
    height: 100vh;
    margin-bottom: 0;

    article {
      margin-top: 0;
    }
  }

  .hero-headline {
    .hero-headline-text {
      font-size: 10vw;
    }
  }

  .hero-intro {
    font-size: 2.5vw;
    line-height: 4vw;
  }
}

@include media('>large') {
}

// HERO ANIMATIONS
@keyframes up {
  100% {
    transform: translateY(0%);
  }
}

.word {
  animation: up 0.8s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translateY(115%);
}

.word-container:nth-child(2) .word {
  animation-delay: 0.45s;
}
.word-container:nth-child(3) .word {
  animation-delay: 0.6s;
}
.word-container:nth-child(5) .word {
  animation-delay: 0.75s;
}
.word-container:nth-child(6) .word {
  animation-delay: 0.9s;
}
.word-container:nth-child(7) .word {
  animation-delay: 1.05s;
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

.hero-intro {
  opacity: 0;
  animation: fadein 0.5s;
  animation-delay: 1.15s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
