.is-boxed {
  background: color(bg, 4);
}

.body-wrap {
  background: color(bg, 1);
  overflow: hidden;
  /* Sticky footer */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.boxed-container {
  max-width: 1440px;
  margin: 0 auto;
  @include shadow;
}

.section-inner {
  position: relative; /* To always display inner elements above pseudo decorative stuff */
  padding-top: 48px;
  padding-bottom: 48px;
}

.container-inner {
  margin: 0 auto;
  height: 100%;
  max-width: none;
}

@include media('>medium') {
  .section-inner {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .container-inner {
    max-width: 60rem;
  }
}

/* Align the page content vertically */
@include media('>large') {
  .hero {
    width: 100%;
  }
}
