.profileAside{
  position: fixed;
  top: 0;
  right: -19rem;
  z-index: 1;

  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s;

  background-color: white;
  width: 12.5rem;
  height: 100vh;

  padding: 0 2rem;

  .profileDetail{
    margin-top: 1rem;

    .profileAvatar{
      .profileAvatarCircle{
        width: 80px;
        height: 80px;
        margin: 0 auto;
        border-radius: 50%;
        background: $primary-green;
      }
    }
    .profileName{
      margin-top: .9rem;
      font-size: $large-text;
      font-weight: bold;
      text-align: center;
    }

    ul{
      margin-top: 3rem;

      a{
        text-decoration: none;
        color: $font-main;
      }

      li{
        font-size: $large-text;
        margin: 1.2rem 0;
      }
    }
    .profileAsideLogOut{
      position: absolute;
      bottom: 2.5rem;
      right: 2.5rem;
      color: #CCC;
      font-size: $medium-text;
    }
  }

  &.toggled{
    right: 0rem;
  }
}
