.profileAside {
  position: absolute;
  top: -2.5rem;
  right: -19rem;
  z-index: 1;

  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s;

  background-color: $app-bg;
  width: 12.5rem;
  height: 100vh;

  padding: 0 2rem;

  .profileDetail {
    margin-top: 1rem;

    .profileAvatar {
      .profileAvatarCircle {
        width: 80px;
        height: 80px;
        margin: 0 auto;
        border-radius: 50%;
        background-color: $light-grey;
      }
    }
    .profileName {
      margin-top: 0.9rem;
      font-size: $large-text;
      font-weight: bold;
      text-align: center;
    }

    ul {
      margin-top: 3rem;

      a {
        text-decoration: none;
        color: $font-main;
        display: block;
      }

      li {
        font-size: $medium-text;
        margin-bottom: 10px;
        background: #fff;
        border-radius: $border-radius;
        padding: 10px 15px;
      }
    }
    .profileAsideLogOut {
      position: absolute;
      bottom: 2.5rem;
      right: 2.5rem;
      color: $font-main;
      font-size: $medium-text;
      border: none;
      background: transparent;
      font-family: inherit;
    }
  }

  &.toggled {
    right: -2.5rem;
  }
}
