#fournulfour{
    position: relative;
    height: 100%;
    a{
      text-decoration: none;
    }
    .veralign{
      position: relative;
      transform: translateY(-50%);
      top:50%;
    }
    h1{
      color:$font-main;
      padding: 1rem 0;
      font-size: $large-text;
      text-align: center;
    }
    .fournulfourbutton{
      border-radius: 4px;
      background-color: $primary-green;
      color: white;
      width: 100%;
      display: inline-block;
      box-shadow: 0 3px 6px rgba(0,150,0,0.10), 0 3px 6px rgba(0,150,0,0.17);
    }
  }
  