#fournulfour{
    position: relative;
    height: calc(100vh - 5rem);
    a{
      text-decoration: none;
    }
    .veralign{
      position: absolute;
      transform: translateY(-50%);
      top:50%;
    }
    h1{
      color:$font-main;
      padding: 1rem;
      font-size: 1.3rem;
      text-align: center;
    }
    .fournulfourbutton{
      -webkit-box-shadow: 0px 28px 91px -26px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 28px 91px -26px rgba(0,0,0,0.75);
      box-shadow: 0px 28px 91px -26px rgba(0,0,0,0.75);
  
      border-radius: 4px;
      background-color: $primary-green;
      color: white;
      width: calc(100vw - 7rem);
      display: inline-block;
    }
  }
  