.sign-in-text {
  margin: 62px 0;
  font-size: $large-text;
  p:nth-child(1) {
    font-family: $bold-type-face;
    margin-bottom: 6px;
  }
}

.forgot-password {
  margin-top: 0.5rem;
  a {
    text-decoration: none;
    color: #aaacad;
    color: $dark-grey;
    font-size: $small-text;
  }
}

.login-button {
  width: 100%;
  border: 0;
  background-color: $light-grey;

  padding: 16px;
  color: $font-main;
  border-radius: 3px;
  font-size: $medium-text;
}

.password-input {
  position: relative;
  svg {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: $light-grey;
  }
}
