.register-form {
  margin-top: 2rem;
}

.password-requirements {
  margin-top: 0.5rem;
  font-size: $small-text;
  color: $font-main;
}

.input-type {
  position: relative;
  svg {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: $light-grey;
  }
}
