.update{
    width: 100%;
    height: 100%;
    position: relative;
    user-select: none;
  
    .amount{
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      margin: 0 4rem 3rem 4rem;

      .plus, .minus{
        width: 16px;
        height: 16px;
        background: $light-grey;
      }
  
      .number{
        height: 2rem;
        width: 2rem;
  
        background-color: white;
  
        border-radius: 4px;
  
        p{
          text-align:center;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
  
          font-size: 1.2rem;
        }
      }
    }
  }
  
  .update-data{
    width: 100%;
    position: absolute;
    bottom: 1rem;
  
    select{
      margin-bottom: 25px;
  
      border-color: transparent;
      width: 100%;
    }
  }
  
  .anytime_from, .anytime_to{
    margin-bottom: 15px;
  }
  
  .description{
    form{
      margin-top: 15px;
    }
  
    input:first-child{
      width: 100%;
  
      border-color: transparent;
  
      &::placeholder{
        color: $font-light;
      }
    }
  
    input:nth-child(2){
      margin-top: 10px;
    }
  }
  
  #description_form{
    margin: 15px 0 15px 0;
  }