// $app-bg: #F9FDFB;
$app-bg: #f6f6f6;

$primary-green: #31b16c;
$light-green: #4dd38b;

$red: rgb(255, 91, 91);

$light-grey: #C8C8C8;

$accent-color: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
