// $app-bg: #F9FDFB;
$app-bg: #f6f6f6;

$primary-green: #31b16c;
$light-green: #4dd38b;

$red: rgb(255, 91, 91);

$light-grey: #c8c8c8;

$accent-color: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
