/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Inter-Regular';
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff"); }
@font-face {
  font-family: 'Inter-Bold';
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff"); }
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.landing-wrapper {
  position: absolute;
  bottom: 4px;
  font-size: 14px; }

.imglanding {
  width: 100%;
  height: auto;
  margin: 1.5rem 0 2rem 0; }

.welcome {
  line-height: 1.3rem; }
  .welcome span {
    font-family: "Inter-Bold"; }

.register {
  width: 100%;
  margin-top: 33px; }

.register-button {
  width: 100%;
  border: 0;
  border-radius: 3px;
  background-color: #C8C8C8;
  padding: 1rem;
  font-size: 14px; }

.log-in {
  width: 100%;
  margin-top: 11px;
  color: #C8C8C8;
  font-size: 12px;
  text-align: right; }
  .log-in a {
    color: #333;
    text-decoration: none; }

.cookies {
  font-size: 9px;
  color: #C8C8C8;
  position: absolute;
  text-align: center;
  bottom: -45px;
  width: 100%; }

.sign-in-text {
  margin: 62px 0;
  font-size: 17px; }
  .sign-in-text span:nth-child(1) {
    font-family: "Inter-Bold"; }

.forgot-password {
  text-align: right;
  margin-top: 6px; }
  .forgot-password a {
    text-decoration: none;
    color: #aaacad;
    font-size: 12px;
    text-align: right; }

.login-button {
  width: 100%;
  border: 0;
  background-color: #C8C8C8;
  padding: 16px;
  color: #333;
  border-radius: 3px;
  font-size: 14px; }

.bttn {
  transition: all 0.2s;
  bottom: 10vh;
  right: 2.5rem; }

.beer-bttn {
  width: 50px;
  height: 50px;
  background-color: #31b16c;
  border-radius: 50%;
  position: fixed; }
  .beer-bttn .fa-beer {
    width: 20px;
    height: 20px;
    margin: 15px 16px;
    color: white; }
  .beer-bttn.toggled {
    display: none; }

.cross-bttn {
  width: 50px;
  height: 50px;
  background-color: #d0d0d0;
  border-radius: 50%;
  position: fixed; }
  .cross-bttn .fa-times {
    width: 20px;
    height: 20px;
    margin: 15px;
    color: rgba(0, 0, 0, 0.5); }

.add-bttn {
  width: 50px;
  height: 50px;
  background-color: #31b16c;
  border-radius: 50%;
  position: fixed; }
  .add-bttn .fa-plus {
    width: 20px;
    height: 20px;
    margin: 15px 15px;
    color: white; }
  .add-bttn.toggled {
    transform: translate(-30px, -60px); }

.drink-bttn {
  width: 50px;
  height: 50px;
  background-color: #31b16c;
  border-radius: 50%;
  position: fixed; }
  .drink-bttn .fa-beer {
    width: 20px;
    height: 20px;
    margin: 15px 16px;
    color: white; }
  .drink-bttn.toggled {
    transform: translate(-65px, -10px);
    background-color: #fc5555; }

.header {
  display: flex;
  justify-content: space-between; }
  .header .group .groupSelected {
    width: 40vw;
    display: flex;
    align-items: center;
    align-self: flex-end; }
  .header .group .groupList {
    display: none;
    position: absolute;
    margin-top: 0.5rem;
    padding: 1rem;
    padding-top: 0;
    max-width: 55vw;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: white; }
    .header .group .groupList .groupInfo {
      margin: 1rem 0;
      color: #96a9b1; }
    .header .group .groupList .groupItem {
      margin-top: 0.6rem;
      width: 100%;
      word-break: break-all; }
    .header .group .groupList .active {
      color: #96a9b1; }
  .header .group h2 {
    font-size: 1.1rem;
    font-weight: bold; }
  .header .group svg {
    margin-left: 10px; }
  .header #profile {
    color: #31b16c; }
  .header .profile {
    position: relative; }
    .header .profile .fa-user-circle {
      width: 24px;
      height: 24px; }

#fournulfour {
  position: relative;
  height: calc(100vh - 5rem); }
  #fournulfour a {
    text-decoration: none; }
  #fournulfour .veralign {
    position: absolute;
    transform: translateY(-50%);
    top: 50%; }
  #fournulfour h1 {
    color: #333;
    padding: 1rem;
    font-size: 1.3rem;
    text-align: center; }
  #fournulfour .fournulfourbutton {
    -webkit-box-shadow: 0px 28px 91px -26px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 28px 91px -26px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 28px 91px -26px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    background-color: #31b16c;
    color: white;
    width: calc(100vw - 7rem);
    display: inline-block; }

.overlay {
  position: fixed;
  /* Sit on top of the page content */
  visibility: hidden;
  /* Hidden by default */
  opacity: 0;
  width: 100vw;
  /* Full width (cover the whole page) */
  height: 100vh;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  background-color: transparent;
  /* Black background with opacity */
  transition: all 0.2s; }
  .overlay.toggled {
    visibility: visible;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5); }

.wrapperAside {
  position: relative; }

.profileAside {
  position: absolute;
  top: 0;
  right: -15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s;
  background-color: white;
  width: 12.5rem;
  height: 100%;
  padding: 1rem; }
  .profileAside .profileDetail {
    text-align: center; }
    .profileAside .profileDetail .profileAvatar {
      margin-top: 1rem; }
      .profileAside .profileDetail .profileAvatar svg {
        width: 80px;
        height: 80px; }
    .profileAside .profileDetail .profileName {
      margin-top: 0.5rem;
      font-weight: bold; }
    .profileAside .profileDetail ul {
      margin-top: 1rem; }
      .profileAside .profileDetail ul li {
        margin: 0.5rem 0; }
  .profileAside.toggled {
    right: 0; }

form {
  width: 100%; }
  form::-webkit-scrollbar {
    display: none; }
  form .input-type {
    margin-bottom: 32px; }
    form .input-type label {
      font-size: 14px; }
    form .input-type input {
      width: 100%;
      font-size: 14px;
      margin-left: -1px;
      outline: 0;
      padding: 12px 0 4px 0;
      background-color: white;
      border: 1px solid transparent;
      border-bottom-color: #eceeef;
      border-radius: 2px;
      transition: 0.3s ease border-color; }
      form .input-type input::-webkit-input-placeholder {
        color: #edeeef; }
      form .input-type input:focus {
        border-bottom-color: #bbb; }

.cross {
  position: relative;
  height: 16px;
  display: flex; }
  .cross a {
    color: #333; }
  .cross svg {
    position: absolute;
    right: 0; }

body {
  margin: 0;
  font-family: "Inter-Regular";
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  color: #333;
  letter-spacing: 0.82px;
  line-height: 17px;
  font-size: 14px; }

.app {
  width: 100vw;
  height: 100vh;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background-color: white;
  padding: 2.5rem;
  box-sizing: border-box;
  position: relative;
  overflow-y: scroll; }
  .app .wrapper {
    height: 100%;
    position: relative; }
  .app form:nth-child(2) {
    margin-top: 2rem; }
  .app h1 {
    margin-top: 0;
    font-weight: 300;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    vertical-align: middle; }
    .app h1 .fa-chevron-left {
      font-size: 16px;
      margin-right: 1.5rem;
      color: #333; }
  .app::-webkit-scrollbar {
    display: none; }
  .app ::-webkit-scrollbar-track {
    display: none; }
  .app ::-webkit-scrollbar-thumb {
    display: none; }

.sign-up {
  margin-bottom: 10px;
  padding-top: 0;
  font-size: 0.875rem; }

.submit-button {
  width: 100%;
  border: 0;
  background-color: #C8C8C8;
  padding: 1rem;
  color: #333;
  border-radius: 3px;
  font-size: 1rem; }

#facebook {
  background-color: #3b5998; }

#google {
  background-color: #dd4b39; }

#social {
  display: flex;
  flex-direction: row; }
  #social input {
    margin: 0 0.25rem 0 0.25rem;
    width: 50%; }

.tutorial img {
  display: block;
  margin: 150px auto 100px auto; }
.tutorial .tuttext {
  text-align: center;
  margin: 0 auto;
  width: 80%; }

.tut4 a {
  color: #fff;
  text-decoration: none; }
.tut4 .tuttext4 {
  padding: 8px;
  background-color: #31b16c;
  border-radius: 20px;
  -webkit-box-shadow: 0px 28px 91px -26px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 28px 91px -26px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 28px 91px -26px rgba(0, 0, 0, 0.75); }

#anytimers {
  margin-top: 60px; }

.anytimers {
  margin-bottom: calc(50px + 2.5rem); }
  .anytimers h3 {
    font-weight: 600; }
  .anytimers .users {
    margin-top: 20px; }
    .anytimers .users .user {
      display: flex;
      justify-content: space-between;
      background-color: white;
      -webkit-box-shadow: 0px 28px 91px -26px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 28px 91px -26px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 28px 91px -26px rgba(0, 0, 0, 0.75);
      padding: 20px;
      margin-top: 10px; }
      .anytimers .users .user svg {
        margin-right: 15px;
        color: red; }
      .anytimers .users .user .username {
        flex-grow: 3; }

.userList {
  display: block; }

.userdetail {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-top: -10px;
  padding: 20px; }
  .userdetail:last-child {
    -webkit-box-shadow: 0px 20px 20px -20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 20px 20px -20px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 20px 20px -20px rgba(0, 0, 0, 0.2); }
  .userdetail h5 {
    font-size: 80%; }

.update {
  width: 100%; }
  .update img {
    display: block;
    margin: 60px auto 55px auto; }
  .update .amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    margin-bottom: 15px; }
    .update .amount .number {
      height: 2rem;
      width: 2rem;
      background-color: white;
      border-radius: 4px; }
      .update .amount .number p {
        height: 100%;
        text-align: center;
        top: 6px;
        position: relative;
        font-size: 1.2rem; }

.add, .drink {
  width: 100%; }
  .add select, .drink select {
    margin-bottom: 25px;
    border-color: transparent;
    width: 100%; }

.anytime_from, .anytime_to {
  margin-bottom: 15px; }

.description form {
  margin-top: 15px; }
.description input:first-child {
  width: 100%;
  border-color: transparent; }
  .description input:first-child::placeholder {
    color: #96a9b1; }
.description input:nth-child(2) {
  margin-top: 10px; }

#description_form {
  margin: 15px 0 15px 0; }

@media screen and (min-width: 456px) {
  .app {
    width: 360px;
    height: 640px; }

  .header .group .groupSelected {
    width: 0; }

  .bttn {
    margin: 30rem 2.5rem 0 14.5rem;
    bottom: inherit;
    right: inherit; } }

/*# sourceMappingURL=css.css.map */
