@import 'reset';
@import 'colours';
@import 'typography';

@import 'pages/_landing.scss';
@import 'pages/_register.scss';
@import 'pages/_login.scss';
@import 'pages/_forgotPassword.scss';
@import 'pages/_tutorial.scss';
@import 'pages/_fournulfour.scss';
@import 'pages/_update.scss';
@import 'pages/_addFriends.scss';

@import 'components/_buttons.scss';
@import 'components/_header.scss';
@import 'components/_overlay.scss';
@import 'components/_sidebar.scss';
@import 'components/_form.scss';
@import 'components/_cross.scss';


body {
  margin: 0;
  height: 100vh;
  font-family: $main-type-face;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ddd;

  color: $font-main;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
  font-size: $medium-text;
}

.app {
  width: 100vw;
  height: 100vh;

  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);

  overflow:hidden;
  background-color: #fbfbfb;

  padding: 2.5rem;
  box-sizing: border-box;

  position: relative;

  overflow-y: scroll;

  .wrapper{
    height: 100%;
    position: relative;
  }

  h1 {
    margin-top: 0;
    font-family: $bold-type-face;
    font-size: $large-text;
    // margin-bottom: 2rem;
    display: flex;
    align-items: center;
    vertical-align: middle;

    .fa-chevron-left {
      font-size: 16px;
      margin-right: 1.5rem;
      color: $font-main;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

  ::-webkit-scrollbar-track {
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    display: none;
  }
}

// FInd a way to remove this
.submit-button {
  width: 100%;
  border: 0;
  background-color: $light-grey;

  padding: 1rem;
  color: $font-main;
  border-radius: 3px;
  font-size: $medium-text;
}

#anytimers{
  margin-top: 60px;
}

.anytimers{
  margin-bottom: calc(50px + 2.5rem);

  h3{
    font-weight: 600;
  }

  .users{
    margin-top: 20px;
    .user{
      display: flex;
      justify-content: space-between;

      background-color: white;
      // -webkit-box-shadow: 0px 28px 91px -26px rgba(0,0,0,0.75);
      // -moz-box-shadow: 0px 28px 91px -26px rgba(0,0,0,0.75);
      // box-shadow: 0px 28px 91px -26px rgba(0,0,0,0.75);

      padding: 20px;
      margin-top: 10px;

      svg{
        margin-right: 15px;
        color: red;
      }
      .username{
        flex-grow: 3;
      }
    }
  }
  .give{

  }
  .receive{

  }
}

.userList{
  display: block;
}

.userdetail{
  display: flex;
  justify-content: space-between;

  background-color: white;

  margin-top: -10px;
  padding: 20px;

  &:last-child{
    // -webkit-box-shadow: 0px 20px 20px -20px rgba(0,0,0,0.2);
    // -moz-box-shadow: 0px 20px 20px -20px rgba(0,0,0,0.2);
    // box-shadow: 0px 20px 20px -20px rgba(0,0,0,0.2);
  }

  h5{
    font-size: 80%;
  }
}

// IMPORT LAST MEDIAQUERIES TO OVERWRITE DESKTOP CSS
@import 'mediaqueries';
