@font-face {
    font-family: 'Inter-Regular';
    src:    url('../fonts/Inter-Regular.woff2') format('woff2'),
            url('../fonts/Inter-Regular.woff') format('woff');
  }
@font-face {
    font-family: 'Inter-Bold';
    src:    url('../fonts/Inter-Bold.woff2') format('woff2'),
            url('../fonts/Inter-Bold.woff') format('woff');

}

$main-type-face: 'Inter-Regular';
$bold-type-face: 'Inter-Bold';

// $font-main: #213A46;
$font-main: #333;
$font-light: #96a9b1;

$vsmall-text: 9px;
$small-text: 12px;
$medium-text: 14px;
$large-text: 17px;
$huge-text: 20px;

$letter-spacing: 0.82px;
$line-height: 17px;

// This may slow performance, WATCH OUT
body{
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
